:root {
    --brand-black: #050100;
    /* --brand-pink: #f9308a; */
    --brand-pink: #fff;
    --color-gray: #636363;
}

.bg-black {
    background: var(--brand-black);
    color: #fff;
}

.bg-pink {
    background: var(--brand-pink);
}

.text-pink {
    color: var(--brand-pink);
}

.header__logo:hover {
    opacity: 1;
}

.header__logo>img {
    width: 250px;
}

.header__search-form {
    display: inline-block;
}

.header__search-wrap {
    position: relative;
}

.header__search-wrap>input {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transition: .2s ease-in-out;
}

.header__search-wrap>input.active {
    opacity: 1;
    visibility: visible;
    width: 250px;
}

.header__search-wrap .header__search-button {
    position: absolute;
    top: 10px;
    right: 10px;
    color: var(--brand-pink);
    cursor: pointer;
}

.header__search-wrap .header__search-button:hover {
    opacity: .75;
}

.header__cart-button {
    position: relative;
    top: 10px;
}

.header__cart-count {
    position: absolute;
    font-size: 14px;
    top: -7px;
    left: 14px;
    font-weight: bold;
    color: #fff;
    background: red;
    padding: 1px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 17px;
}

header hr {
    background: #fff;
}

.header__dropdown-button {
    display: flex;
    color: var(--brand-pink);
    padding: 5px 15px;
    text-transform: uppercase;
    font-weight: 600;
    transition: opacity .25s linear, color .25s cubic-bezier(.215, .61, .355, 1);
}

.header__dropdown-button:hover {
    color: var(--brand-pink) !important;
}

.header__dropdown-button::after {
    content: "";
    position: absolute;
    left: 8px;
    right: 8px;
    bottom: 0;
    height: 2px;
    background-color: var(--brand-pink);
    transform: scaleX(0);
    transition: transform .2s;
}

.header__dropdown-button:hover::after {
    transform: scaleX(1);
}

.header__dropdown {
    position: relative;
}

.header__dropdown-content {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    background: var(--brand-black);
    padding: 20px;
    border-radius: 0 0 5px 5px;
    font-weight: 600;
    text-transform: capitalize;
    z-index: 99;
}

.header__dropdown-content>a {
    display: block;
    width: max-content;
    color: var(--brand-pink);
    padding-bottom: 10px;
}

.header__dropdown:hover .header__dropdown-content {
    opacity: 1;
    visibility: visible;
}

.header__menu.sticky {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 1s;
    z-index: 99;
}

.header__menu-wrap {
    position: relative;
}

/* slider */
.main__carousel-cell[class*=col] {
    padding: 0 .75rem;
}

.main__carousel-cell[class*=col]:not(.is-selected)>* {
    opacity: .2;
}

.main__carousel-cell[class*=col]>* {
    transition: opacity .35s ease, transform .35s ease;
}

/* main */
.category__title {
    padding: 10px 0 20px 0;
    position: relative;
}

.category__title .category__title-content {
    width: fit-content;
    background: var(--brand-pink);
    text-transform: uppercase;
    color: var(--brand-black);
    font-size: 20px;
    padding: 10px;
    position: relative;
    user-select: none;
    font-weight: bold;
}

.category__title .category__title-content::after {
    content: '';
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 45px 25px;
    border-color: var(--brand-pink) transparent transparent var(--brand-pink);
    top: 0px;
    right: -25px;
}

.category__title .category__title-content-view {
    position: absolute;
    right: 0;
    top: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--brand-pink);
}

.category__title .category__title-content-view>i {
    position: relative;
    top: 1px;
}

.category__main {
    padding-left: 0;
}

.category__main>li {
    position: relative;
    margin-bottom: 2rem;
}

.category__main-footer {
    padding: 0 10px;
    text-align: center;
}

.category__main-footer .category__main-title {
    margin-bottom: 10px;
    margin-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* after 2 line show ... */
    -webkit-box-orient: vertical;
}

.category__main-footer .category__main-price-sale>span:first-child {
    text-decoration: line-through;
}

.category__main-footer .category__main-price-sale>span:last-child::before {
    content: '- ';
}

.category__main-hot,
.category__main-sale {
    position: absolute;
    top: -10px;
    left: 2px;
    width: 107px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 98;
}

.category__main-hot::before,
.category__main-sale::before {
    content: 'sale';
    position: absolute;
    width: 150%;
    height: 27px;
    background: #004987;
    transform: rotate(-45deg) translateY(-20px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
}

.category__main-hot::after,
.category__main-sale::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 11px;
    background: #003c6e;
    bottom: 6px;
    left: 0;
    z-index: -1;
    box-shadow: 83px -84px #003c6e;
}

.category__main-hot::before {
    content: 'hot';
    background: crimson;
}

.category__main-hot::after {
    background-color: rgb(158, 0, 32);
    box-shadow: 83px -84px rgb(158, 0, 32);
}

.category__main-body {
    position: relative;
    text-align: center;
    max-height: 306px;
}

.category__main-view {
    border-radius: 0 0 5px 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    transition: all .4s ease-in-out;
    opacity: 0;
    color: var(--brand-black);
    text-transform: uppercase;
    font-weight: bold;
    background: #fff;
    padding: 5px 0;
}

.category__main-content {
    padding-bottom: 10px;
}

.category__main-content:hover .category__main-view {
    opacity: 1;
}

.category__main-content:hover .category__main-body>img {
    opacity: .75;
    transition: all .4s ease-in-out;
}

.category__main-content:hover .category__main-title {
    text-decoration: underline;
}

/* product detail */
.main-detail {
    margin-top: 60px;
}

/* left site */
.product-preview {
    position: relative;
}

.product-preview>img {
    padding: 25px;
    border-radius: 5px;
    width: 500px;
    height: 500px;
    object-fit: cover;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.product-thumblist {
    position: relative;
    max-width: 510px;
    display: flex;
    min-height: 100px;
    align-items: center;
    margin-top: 25px;
}

.product-thumblist .slider-product {
    width: 444px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
    position: relative;
    margin-left: 35px;
}

.product-thumblist .slider-product>img {
    object-fit: cover;
    max-width: 140px;
    max-height: 185px;
    cursor: pointer;
    border: 2px solid #eee;
    border-radius: 5px;
    transition: .2s linear;
    opacity: 0.75;
    margin-right: 8px;
    padding: 15px;
}

.product-thumblist .slider-product>img:hover {
    opacity: 1;
    border-color: #cb1f5d;
}

.btn-prev,
.btn-next {
    cursor: pointer;
    font-size: 20px;
    border-radius: 50%;
    color: #eee;
    width: 25px;
    height: 25px;
    border: 1px solid #eee;
    text-align: center;
    line-height: 24px;
    position: absolute;
    top: 40%;
    z-index: 11;
    transition: .2s linear;
}

.btn-prev:hover,
.btn-next:hover {
    transition: .2s linear;
    color: #cb1f5d;
    border-color: #cb1f5d;
}

.btn-prev {
    padding-right: 3px;
    left: 0;
}

.btn-next {
    padding-left: 3px;
    right: 0;
}

/* right site */
.main-detail .product-name {
    color: #fff;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 20px;
    border-bottom: 1px solid;
}

.product-detail-table {
    overflow-x: hidden;
    width: 100%;
}

.product-detail-table tr th {
    color: #fff;
    font-weight: bold;
    margin-bottom: 0;
    max-width: 70px;
    padding: 30px 0;
}

.product-detail-table tr td {
    padding: 5px 0;
    color: #fff;
    margin-bottom: 0;
    text-transform: uppercase;
    height: 78px;
}

.main-detail .product-detail-table tr:first-child td {
    font-size: 18px;
    font-weight: bold;
    position: relative;
}

#price {
    font-size: 25px;
}

#product-color {
    display: none;
}

.color-picker {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    margin-right: 5px;
}

.color-picker.active {
    border: 2px solid #fff;
    box-shadow: 0px 2px 12px -2px #c9c9c9;
}

.quantity {
    display: flex;
    align-items: center;
    text-align: center;
}

.quantity input[type='number'] {
    height: 30px;
    width: 50px;
    border-radius: 0;
    text-align: center;
    border-color: #000;
    border-left: none;
    border-right: none;
    font-size: 13px;
    -webkit-appearance: none;
    -moz-appearance: textfield;
}

.quantity #minus-quantity,
.quantity #plus-quantity {
    background: #fff;
    height: 30px;
    width: 30px;
    cursor: pointer;
    border: 1px solid #000;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quantity #minus-quantity {
    border-radius: 5px 0 0 5px;
}

.quantity #plus-quantity {
    border-radius: 0 5px 5px 0;
}

.quantity #minus-quantity:hover,
.quantity #plus-quantity:hover {
    border: 1px solid #fff;
    background: #000;
    color: #fff;
}

.btn-submit {
    color: #000;
    background-color: #fff;
    border: 2px solid transparent;
    font-weight: 600;
    text-transform: uppercase;
}

.btn-submit:hover {
    color: #fff;
    border: 2px solid #fff;
    background-color: #000;
}

.right-site .button-wrap {
    border-top: 1px solid #fff;
    padding-top: 20px;
}

/* mô tả */

.describe {
    color: #fff;
    margin-top: 50px;
}

.describe .title-wrap {
    border-bottom: 1px solid #ddd;
}

.describe .title-wrap .title {
    display: inline-block;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    border-bottom: 3px solid #fff;
    margin-bottom: -1px;
    padding: 15px 0px;
    text-transform: uppercase;
}

#main-content {
    width: 100%;
    float: left;
    padding: 15px;
}

#main-content img {
    max-width: 100%;
}

footer {
    margin-top: 1rem;
    border-top: 1px solid #eee;
    padding-top: 1rem;
}

/* pagination :: start */

.pagination {
    display: block;
    height: 40px;
}

.pagination a {
    color: #000;
    background: #fff;
    font-weight: 700;
    float: left;
    text-decoration: none;
    width: 40px;
    height: 100%;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 4px;
    border: transparent 2px solid;
    border-radius: 5px;
    cursor: pointer;
}

.pagination a.arrow {
    border-radius: 5px;
}

.pagination a.active,
.pagination a:hover {
    color: #fff !important;
    background: #000;
    border: 2px solid #fff;
    transition: .2s all;
}

/* pagination :: end */

/* cart :: start */

.checkout-table {
    margin-top: 30px;
    border: 2px solid #fff;
    width: 100%;
    margin-bottom: 25px;
}

.checkout-table tr:first-child th {
    background: #fff;
    color: #000;
}

.checkout-table tr th {
    font-size: 18px;
    padding: 15px;
    text-align: center;
    font-weight: 700;
}

.checkout-table tr td img {
    max-width: 200px;
    max-height: 200px;
    object-fit: cover;
    padding: 15px;
}

.checkout-table tr td {
    vertical-align: center;
    text-align: center;
    padding: 15px;
    border-bottom: 2px solid #fff;
}

.checkout-table tr td h3 {
    font-weight: 700;
    margin-bottom: 10px;
}

.info-form{
    border: 2px solid #fff;
    padding: 20px;
}

.info-admin {
    padding-left: 20px;
}

.info-admin li {
    margin-bottom: 10px;
}

.info-admin li h2{
    font-size: 18px;
}

.info-admin li small a{
    font-weight: 700;
}


/* cart :: end */